/*  Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

/* Custom css */
@theme {
  --color-background: var(--background);
  --color-card-bg: var(--card-bg);

  --color-border: var(--border);

  --color-shadow: var(--shadow);

  --color-icon: var(--icon);
  --color-text-dark: var(--text-dark);
  --color-text-lite: var(--text-lite);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(0, 0, 0);
    --card-bg: rgb(2, 0, 31);

    --border: rgb(42, 42, 42);

    --text-dark: rgb(255, 255, 255);
    --text-lite: rgb(192, 192, 192);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: rgb(243, 247, 255);
    --card-bg: rgb(255, 255, 255);

    --border: rgb(118, 116, 116);

    --text-dark: rgb(0, 0, 0);
    --text-lite: rgb(130, 127, 127);
  }
}

.light {
  --background: rgb(243, 247, 255);
  --card-bg: rgb(255, 255, 255);

  --border: rgba(225, 225, 225, 1);

  --shadow: rgb(221, 221, 221);

  --icon: rgba(122, 123, 125, 1);
  --text-dark: rgb(0, 0, 0);
  --text-lite: rgb(130, 127, 127);
}

.dark {
  --background: rgb(0, 0, 0);
  --card-bg: rgb(2, 0, 31);

  --border: rgb(42, 42, 42);
  --shadow: rgb(29, 24, 24);

  --text-dark: rgb(255, 255, 255);
  --text-lite: rgb(192, 192, 192);
}

.red {
  --background: rgb(255, 0, 0);
  --card-bg: rgb(233, 52, 28);

  --border: rgb(42, 42, 42);

  --icon: rgba(122, 123, 125, 1);
  --text-dark: rgb(255, 255, 255);
  --text-lite: rgb(192, 192, 192);
}

* {
  font-family: "Outfit", sans-serif;
}

body {
  background-color: var(--background);
}

/* Extra css */
/* @keyframes scroll-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll-right-slow {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
} */
.scroller {
  width: max-content;
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 30%, white, transparent);
}

.scroller_inner {
  animation: scroll 60s linear infinite;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

.scroller-2 {
  width: max-content;
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller_inner-2 {
  animation: scroll-2 10s linear infinite;
}

@keyframes scroll-2 {
  to {
    transform: translate(calc(10% - 0.5rem));
  }
}
